In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import chi2_contingency

In [4]:
 df = pd.read_csv("BuyerRatio.csv")

In [5]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
df.shape

(2, 5)

In [10]:
stat, p, dof, expected = chi2_contingency(df.iloc[:,1:])

In [12]:
df.iloc[:,1:]

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [13]:
p

0.6603094907091882

In [14]:
#since the p value is greater than 0.05 we fail to reject null hypothesis.
#hence all male-female buyer proportion are same